@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <p><a target="_blank" href="/home/download?fileName=AmazonReceipt.pdf">ILSpy.AddIn.VS2022_9.0.0.7660-preview2.vsix - 11MB</a></p>
</div>
